@font-face {
    font-family: 'SapotaWebfont';
    font-weight: regular;
    src: url(res/Sapota1.ttf) format('woff');
    unicode-range: U+E000-E23F;
}

textarea {
    font-family: 'SapotaWebfont', 'Pretendard', sans-serif !important;
    width: 100%;
    height: 10rem;
    font-size: 1.4rem;
}

.image-paragraph {
    text-align: center;
}
